* {
  background-color: #fff;
}
.border {
  border: 2px solid #000;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: min-width;
  height: 150px;
  border: 2px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#Logo {
  margin: auto;
  height: 10px;
  display: table;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #000;
}
.avatar {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0px auto;
}
.avatar-mini {
  border-radius: 50%;
  max-width: 25px;
  max-height: 25px;
}
.panel {
  margin: 0px;
  padding: 15px;
  border: 2px solid #000;
  color: #000;
/*height:500px;*/
}
.content {
/*text-align:center;*/
  padding: 15px;
  margin: 0px;
  min-height: 500px;
  border: 2px solid #000;
}
#profile-credentials {
  margin: auto auto;
  width: 50%;
  display: block;
}
#login-form {
  text-align: left;
/* border:2px solid black; */
/* //vertical-align:center; */
  margin: auto 5px;
}
#register-button {
  display: inline;
  float: right;
  margin: 10px 5px;
/* border:2px solid black; */
}
#login-button {
  display: inline;
  margin: 10px 5px;
/* border:2px solid black; */
}
.alert {
  margin: 10px 0px;
}
#log-out-button {
  display: block;
  margin: 10px auto;
}
.nav-panel-css > li > a,
p {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.nav-panel-css > li > a:focus {
  color: #333;
  background-color: #eee;
  border-color: #ccc;
  border: 1px solid;
}
.error {
  margin: 5px;
  color: #f00;
}
p.success {
  text-align: center;
  margin: 5px;
  color: #008000;
}
/**
 * PROFILE DATA
 */
.profile-show-menu {
  display: table;
  margin: auto;
}
/**
 * Settings pages
 */
/*menu bar*/
#settings-menu {
  display: table;
  margin: auto;
}
/*profile*/
#profile_update_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about_me {
  white-space: pre-line;
}
/**
 *
 *	MISC
 *
 */
[class*="glyphicon"] {
  background-color: inherit;
}
.max_width {
  max-width: 100%;
}

/**
 * Friends page
 */
#friends-header {
  text-align: center;
  font-weight: bold;
}
#friends-search-panel {
  margin: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#friends-search-panel label {
  margin: auto;
  margin-right: 5px;
}
#friends-search-panel div[class=input-group-md] {
  margin-left: 5px;
}
#friends-list {
  overflow-x: hidden;
  padding-left: 10px;
  max-height: 400px;
  word-wrap: break-word;
  overflow-y: auto;
}
#friends-list a {
  color: #000;
}
#friends-list a:hover {
  font-weight: bold;
  text-decoration: none;
}
#friends-list span[class*="envelope"] {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
}
#friends-list span[class*="envelope"]:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  font-weight: bold;
  text-decoration: none;
}
#friends-list h4 {
  text-align: center;
}
#friends-list hr {
  margin: 10px 10px;
}
#find-new-friend h4,
p {
  text-align: center;
}
#search-new-friend-input {
  margin: 5px auto;
}
#invite-random-friend-btn {
  margin: 15px auto;
}
/* User list*/
.user-list {
  text-align: left;
  font-weight: bold;
}
.user-list {
  overflow-x: hidden;
  padding-left: 10px;
  max-height: 250px;
  word-wrap: break-word;
  overflow-y: auto;
}
.user-row hr {
  margin: 10px 10px;
}
