* {
  background-color: #fff;
}
.border {
  border: 2px solid #000;
}
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: min-width;
  height: 150px;
  border: 2px solid #000;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#Logo {
  margin: auto;
  height: 10px;
  display: table;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 2px solid #000;
}
.avatar {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
  display: block;
  margin: 0px auto;
}
.avatar-mini {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}
.panel {
  margin: 0px;
  padding: 15px;
  border: 2px solid #000;
  color: #000;
/*height:500px;*/
}
.content {
/*text-align:center;*/
  padding: 15px;
  margin: 0px;
  min-height: 500px;
  border: 2px solid #000;
}
#profile-credentials {
  margin: auto auto;
  width: 50%;
  display: block;
}
#login-form {
  text-align: left;
/* border:2px solid black; */
/* //vertical-align:center; */
  margin: auto 5px;
}
#register-button {
  display: inline;
  float: right;
  margin: 10px 5px;
/* border:2px solid black; */
}
#login-button {
  display: inline;
  margin: 10px 5px;
/* border:2px solid black; */
}
.alert {
  margin: 10px 0px;
}
#log-out-button {
  display: block;
  margin: 10px auto;
}
.nav-panel-css > li > a,
p {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.nav-panel-css > li > a:focus {
  color: #333;
  background-color: #eee;
  border-color: #ccc;
  border: 1px solid;
}
.error {
  margin: 5px;
  color: #f00;
}
p.success {
  text-align: center;
  margin: 5px;
  color: #008000;
}
/**
 * PROFILE DATA
 */
.profile-show-menu {
  display: table;
  margin: auto;
}
/**
 * Settings pages
 */
/*menu bar*/
#settings-menu {
  display: table;
  margin: auto;
}
/*profile*/
#profile_update_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.about_me {
  white-space: pre-line;
}
/**
 *
 *	MISC
 *
 */
[class*="glyphicon"] {
  background-color: inherit;
}
.max_width {
  max-width: 100%;
}
