/**
 * Friends page
 */
#friends-header {
  text-align: center;
  font-weight: bold;
}
#friends-menu-panel {
  display: table;
  margin: auto auto;
}
#friends-search-panel {
  margin: 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#friends-search-panel label {
  margin: auto;
  margin-right: 5px;
}
#friends-search-panel div[class=input-group-md] {
  margin-left: 5px;
}
#friends-search-panel div.col-md-4 {
  padding: 0px;
}
#current-group-header {
  font-weight: bold;
  text-align: center;
}
#friends-list {
  overflow-x: hidden;
  padding-left: 10px;
  max-height: 400px;
  word-wrap: break-word;
  overflow-y: auto;
}
#friends-list a {
  color: #000;
}
#friends-list div.row {
  margin: auto 15px;
}
#friends-list a:hover {
  font-weight: bold;
  text-decoration: none;
}
#friends-list span[class*="envelope"] {
  margin-right: 10px;
  font-weight: bold;
  text-decoration: none;
}
#friends-list span[class*="envelope"]:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  font-weight: bold;
  text-decoration: none;
}
#friends-list h4 {
  text-align: center;
}
hr {
  margin: 10px 10px;
}
#find-new-friend h4,
p {
  text-align: center;
}
#search-new-friend-input {
  margin: 5px auto;
}
#invite-random-friend-btn {
  margin: 15px auto;
}
/* User list*/
#find-new-friend div.row {
  margin: 10px auto;
  overflow-y: auto;
  max-height: 250px;
}
.user-list {
  overflow-x: hidden;
  padding-left: 10px;
  max-height: 250px;
  word-wrap: break-word;
  overflow-y: auto;
}
.user-row hr {
  margin: 10px 10px;
}
